Data/
Analysis/BD_20Hz_04_PostHoc_LEDDcorrelations_files/
Figures/Paper/
renv/
Trash/
Linting/
OSF/
Output/
/*.png
*.html
*.png
*.Rhistory
*.Rprofile

# Ignore all TIFF files in all directories
**/*.tiff
*.tiff